body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5a7da1;
    padding: 50px;
  }
  
  .group {
    width: 400px;
    margin: auto;
    background-color: #d1d8de;
    padding: 20px;
    border-radius: 5px;
    
  }
  
  h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  span {
    font-size: 12px;
    color: #999;
  }
  
 .em {
    font-style: italic;
  }

  .form-input {
    width: 95%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .form-bnt {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #4c91af;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-bnt:hover {
    background-color: #19043f;
  }